.container {
    height: 77.3vh;
    padding: 5em;
    background-color: #262626;
}

section {
    height: 60vh;
    width: 70%;
    margin: auto;
    padding: 1em;
    color: #fff;
    border-radius: 50px;
    box-shadow:  -20px -20px 60px #000,
             20px 20px 60px #000;
}

.movie_info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10em;
}

.infos h2 {
    font-size: 2em;
}

.infos span, .details_container span {
    font-weight: bold;
    background-color: #471AA0;
    padding: 0.3em;
    border-radius: 10px;
}

.rating {
    font-size: 1.5em;
}

.details_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
    width: 50em;
    margin: 0 auto;
}

.details_container img {
    width: 15em;
    border-radius: 1em;
}

.overview {
    font-size: 1.5em;
}

@media (max-width: 915px) {
    .details_container {
        width: 100vw;
    }

    .details_container img {
        width: 90vw;
    }

    .details {
        width: 90vw;
    }
}