.movie_details {
    height: 100vh;
    padding: 10em 1em;
    background-color: #262626;
}

.movie_details section {
    max-width: 800px;
    margin: 0 auto;
    color: #fff;
}

.movie_header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.movie_header h2 {
    margin: 0;
    font-size: 40px;
}

.movie_info img {
    width: 200px;
    height: 300px;
    border-radius: 1em;
}

.movie_info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
}

.movie_info > p {
    margin-top: -10em;
    font-size: 1.2em;
}

.movie_info div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.movie_info div p {
    background-color: #471AA0;
    border-radius: 1em;
    padding: 0.5em;
    margin: 0.5em 0;
}

.movie_info span {
    font-weight: bold;
}
  