.container {
    background-color: #262626;
}

.container h1 {
    text-align: center;
    font-size: 2.5em;
    color: #fff;
    padding-top: 20px;
}

.movies_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em 1em;
    list-style: none;
    width: 80%;
    margin: 0 auto;
    padding: 5em 0;
}

@media (max-width: 1180px) {
    .container ul li {
        margin: 1em;
    }
}

@media (max-width: 915px) {
    .movies_container {
        margin: auto;
    }

    .movies_container li {
        margin: 1em auto;
    }
}