@media (max-width: 767px) {
    header {
        width: 100%;
        flex-wrap: wrap;
        gap: 0.5em;
    }

    header img {
        width: 8em;
    }

    header nav ul {
        gap: 1em;
        
    }

    header nav ul li .link {
        font-size: 0.5em;
    }

    header .search_bar input {
        width: 80vw;
        font-size: 0.8em;
        height: 1em;
    }

    header .search_bar button {
        height: 2em;
    }
}
