.homepage {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 1em;
    background-color: #262626;
}

.homepage img {
    width: 50%;
}

@media (max-width: 767px) {
    .homepage {
        min-height: 77vh;
    }

    .homepage img {
        width: 100%;
    }
}