.homepage {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 1em;
}

.homepage img {
    width: 50%;
}

@media (max-width: 1180px) {
    .homepage img {
        width: 80%;
    }
}