footer {
    background-color: #471AA0;
    position: static;
    bottom: 0;
}

footer nav ul {
    list-style: none;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer nav ul li svg {
    color: #fff;
    height: 1.5em;
    width: 1.5em;
    transition: 0.5s;
}

footer nav ul li svg:hover {
    transform: scale(110%);
    cursor: pointer;
}

@media (max-width: 767px) {
    footer {
        position: relative;
        bottom: 0;
        width: 100vw;
        flex-direction: column;
        gap: 2em;
    }
}